@using EyewearStore.Services
@model ContactVM

@inject LayoutService _layoutService
@{
    var settings = await _layoutService.GetSettingsAsync();
}
<main>
    <section class="section1_Contact">
        <div class="img__div_Contact">
            <img class="Contact__img"
                 src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/bg-05.jpg"
                 alt="">
            <div class="inside_Contact">
                <h1 class="text-center" style="width: 100%; "><strong>Contact</strong></h1>
            </div>
        </div>
    </section>

    <style>
        input{
            padding:5px;
        }
    </style>
    <section>
        <div class="Contact__Section2__all">
            <div class="Contact__sec2__left__container">
                <div class="Contact__sec2__left">
                    <h3><strong>Get in touch</strong></h3>
                    <p>
                        @settings["contactText"]
                    </p>
                    <a href="#"><i class="fa-solid fa-location-dot"></i>@settings["contactLocation"]</a>
                    <a href="#"><i class="fa-solid fa-message"></i>@settings["contactEmail"]</a>
                    <a href="#"><i class="fa-solid fa-phone"></i>@settings["contactPhoneNumber"]</a>
                </div>
            </div>
            <div class="Contact__sec2__right">
                <form class="Send__mail__form" method="post">
                    <h3 style="margin-left: 40px;">Name and Surname</h3>
                    <div class="Name__contact">
                        <div class="Contact__nameBox">
                            <input required asp-for="Name" type="text">
                            <label asp-for="Name">First</label>
                            <span class="text-danger" asp-validation-for="Name"></span>
                        </div>
                        <div class="Contact__MailBox">
                            <input required asp-for="Surname" type="text">
                            <label asp-for="Surname">Last</label>
                            <span class="text-danger" asp-validation-for="Surname"></span>

                        </div>
                    </div>
                    <div class="Mail__contact">
                        <h3>Email</h3>
                        <input required asp-for="Email" type="text">
                        <span class="text-danger" asp-validation-for="Email"></span>

                    </div>
                    <div class="Contact__message__Box">
                        <h3>Message</h3>
                        <textarea required asp-for="Message" cols="30" rows="7"></textarea>
                        <span class="text-danger" asp-validation-for="Message"></span>

                    </div>
                    <div class="Contact__Submit">
                        <button type="submit">SEND</button>
                    </div>


                </form>
            </div>
        </div>
    </section>


    <section class="contact__map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3039.421312723393!2d49.85149987583545!3d40.377354071446!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d077c61fef3%3A0xfa4594c97092ca01!2sAF%20Business%20House!5e0!3m2!1sen!2saz!4v1715852391365!5m2!1sen!2saz"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
    </section>


</main>