<main>
    <section class="section1_ab">
        <div class="img__div_ab">
            <img class="about__img"
                 src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/bg-06.jpg"
                 alt="">
            <div class="inside_ab">
                <h1><strong>About Us</strong></h1>
            </div>
        </div>
    </section>


    <div class="section2__ab">
        <div class="section2__all__about">
            <div class="div__top__ab">
                <div class="about__top__text">
                    <h4>About us</h4>
                    <p><strong>We are an <br> eyewear brand <br> from Milan, Italy </strong></p>

                </div>
            </div>
            <div class="div__buttom__ab">
                <div class="about__text">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem maxime recusandae nostrum
                        voluptate possimus architecto aut. Doloribus sunt eligendi tempora laborum, totam magni
                        mollitia. Cum eveniet ratione ipsum dolores deserunt!
                    </p>

                </div>
            </div>

        </div>
    </div>
    <section>
        <div class="section3__all">
            <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/bg-07.jpg"
                 alt="">
        </div>
    </section>
    <div class="section4__about">
        <div class="section4__all__about">
            <div class="section4__left__about">
                <div class="middle__about">
                    <div class="section4__left__about__text">
                        <h3>Our <br> Vision</h3>
                    </div>
                    <div class="section4__left__about__img">
                        <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/about-03.jpg"
                             alt="">
                    </div>
                </div>
            </div>
            <div class="section4__right__about">
                <div class="section4__right__middle__ab">
                    <h5>Metus eu nisl vehicula</h5>
                    <h2><strong>Integer tristique metus eu nisl  vehicula et</strong></h2>
                    <p>
                        Vivamus sem enim, viverra et maximus eget, volutpat pellentesque lacus. Proin non felis
                        dictum,
                        lacinia enim in, tristique ex. Fusce ac aliquam est. Nunc molestie sapien lacus. Nam
                        sagittis,
                        tortor feugiat sodales lobortis, sapien ex efficitur sem, vel pharetra ante turpis ut purus.
                        Phasellus dignissim mollis auctor. Quisque egestas turpis et sem semper bibendum. Praesent
                        eleifend turpis nec ex blandit, non vehicula dui congue. Mauris interdum mauris dolor.
                    </p>
                    <p>
                        Sed in mauris tortor. Maecenas ullamcorper nisi a maximus consequat. Donec imperdiet tempus
                        nisl
                        id aliquam. Nunc aliquet quis orci nec pharetra.
                    </p>

                </div>
            </div>

        </div>
    </div>
    <section class="section8">
        <div class="section8__all">
            <div class="section8__first">
                <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/icon-001.png"
                     alt="">
                <h3>Big discounts</h3>
                <div class="section8text1">
                    Integer euismod blandit nunc sit amet sollicitudin. Fusce quis orci viverra, cursus justo lipsum
                    dolor.
                </div>
            </div>

            <div class="section8__first">
                <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/icon-002.png"
                     alt="">
                <h3>Big discounts</h3>
                <div class="section8text2">
                    Integer euismod blandit nunc sit amet sollicitudin. Fusce quis orci viverra, cursus justo lipsum
                    dolor.
                </div>
            </div>

            <div class="section8__first">
                <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/icon-003.png"
                     alt="">
                <h3>Big discounts</h3>
                <div class="section8text3">
                    Integer euismod blandit nunc sit amet sollicitudin. Fusce quis orci viverra, cursus justo lipsum
                    dolor.
                </div>
            </div>



        </div>


    </section>

</main>
