
    <main class="">
        <section class="section1">
            <div class="img__div">
                <img class=""
                    src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/hero-02.png"
                    alt="">
                <div class="inside">
                    <div class="inside__1">
                        <h5>Orginal SunGlasses </h5>
                    </div>
                    <div class="inside__2">
                        <h1><strong>Orginal Sunglasses</strong></h1>
                    </div>
                    <div class="inside__3">
                        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor fuga nobis alias.</p>
                    </div>
                    <div class="inside__4">
                        <button>Shop Now</button>
                    </div>
                </div>
            </div>
        </section>
        <section class="section2">
            <div class="section2__all">
                <div class="res__sec12">
                    <div class="section2__left">
                        <div class="section2__left__inside">
                            <h5 style="font-size: 18px;">Text Here</h5>
                            <h1>A few words about us</h1>
                            <p style="color: gray;">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit
                                tellus, luctus nec
                                ullamcorper mattis, pulvinar dapibus leo.</p>
                            <div class="button__div"> <button>Read More</button></div>
                        </div>
                    </div>
                    <div class="section2__middle">
                        <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/about-02.jpg"
                            alt="">
                    </div>
                </div>
                <div class="section2__right">
                    <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/about-01.jpg"
                        alt="">
                </div>

            </div>
        </section>
        <section class="section3">
            <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/bg-01.jpg" alt="">
            <div class="section3__text">
                <h5>ADD YOUR HEADING</h5>
                <h1>Be different in your own way!</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores possimus vel impedit. Mollitia
                    assumenda ratione voluptatibus minima</p>
                <div class="section3__shop__div">
                    <button>Shop Now</button>
                </div>
            </div>

        </section>
        <section class="ssection4">
            <div class="section4">
                <div class="section4__left">
                    <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/bg-02.jpg"
                        alt="">

                </div>
                <div class="section4__right text-center">
                    <div class="section4__right__middle">
                        <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/bg-04.jpg"
                            alt="">
                        <div class="section4__right__middle__text">
                            <h3 class="text-center">PRODUCT NAME 9</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec
                                ullamcorper mattis, pulvinar dapibus leo.</p>
                            <div class="section4__buttondiv" style="width: 100%;">
                                <strong>$ 1.1200</strong>
                                <div class="section4__buttondiv2">
                                    <button>Shop Now</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section5">
            <div class="section55">
                <h5 class="text-center" style="width: 100%;"><strong>CLIENTS’ REVIEWS</strong></h5>
                <h1 class="text-center" style="width: 100%;">Testimonials</h1>
                <div class="section5__text">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus, numquam repreher
                    nobis accusamus nihil culpa aliquam porro sapiente et quisquam, recusandae vel natus rem tenetur
                    possimus quas incidunt accusantium. Labore?
                </div>
                <p>Jennifer Oliver</p>
                <div class="section5__buttondiv " style="width: 100%;">
                    <button>Read More</button>
                </div>
            </div>
        </section>
        <div class="section6">
            <div class="section6__left">
                <div class="section6__text">
                    <h4 style="width: 100%;" class="text-center">HEADING TEXT HERE</h4>
                    <h2>HOW TO TAKE CARE OF YOUR EYEWEAR</h2>
                    <p>Curabitur neque ex, facilisis id venenatis in, tincidunt at augue. Etiam lobortis commodo
                        tristique. Aliquam convallis pulvinar facilisis.</p>
                    <div class="section6__buttondiv">
                        <button>Read More</button>
                    </div>
                </div>
            </div>
            <div class="section6__right">
                <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/bg-03.jpg"
                    alt="">
            </div>


            <div class="section6__left1">
                <div class="section6__text">
                    <h4 style="width: 100%;" class="">HEADING TEXT HERE</h4>
                    <h2>HOW TO TAKE CARE OF YOUR EYEWEAR</h2>
                    <p>Curabitur neque ex, facilisis id venenatis in, tincidunt at augue. Etiam lobortis commodo
                        tristique. Aliquam convallis pulvinar facilisis.</p>
                    <div class="section6__buttondiv">
                        <button>Read More</button>
                    </div>
                </div>
            </div>



        </div>
        <section class="section7">
            <div class="container">
                <div class="section7__difference">
                    <h5>Popular Products</h5>
                    <h1>Trending now</h1>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 mr-18 mb-3">
                        <div class="card HomeCard1" style="width: 20rem;">
                            <a href="./Detail.html">
                                <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/product-10-a-600x600.jpg"
                                    class="card-img-top" alt="...">
                                <div class="salam"><img
                                        src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/product-10-b.jpg"
                                        alt=""></div>
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa-solid fa-star"></i></h5>
                                <h3>PRODUCT NAME 11</h3>
                                <span> $ 1.88</span>
                                <span><del style="color: gray;">1122$</del></span>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 mr-18 mb-3">
                        <div class="card HomeCard1" style="width: 20rem;">
                            <a href="./Detail.html">
                                <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/product-10-a-600x600.jpg"
                                    class="card-img-top" alt="...">
                                <div class="salam"><img
                                        src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/product-10-b.jpg"
                                        alt=""></div>
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa-solid fa-star"></i></h5>
                                <h3>PRODUCT NAME 11</h3>
                                <span> $ 1.88</span>
                                <span><del style="color: gray;">1122$</del></span>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4 col-md-6 mr-18 mb-3">
                        <div class="card HomeCard1" style="width: 20rem;">
                            <a href="./Detail.html">
                                <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/product-10-a-600x600.jpg"
                                    class="card-img-top" alt="...">
                                <div class="salam"><img
                                        src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/product-10-b.jpg"
                                        alt=""></div>
                            </a>
                            <div class="card-body">
                                <h5 class="card-title"><i class="fa-solid fa-star"></i></h5>
                                <h3>PRODUCT NAME 11</h3>
                                <span> $ 1.88</span>
                                <span><del style="color: gray;">1122$</del></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>
        <section class="section8">
            <div class="section8__all">
                <div class="section8__first">
                    <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/icon-001.png"
                        alt="">
                    <h3>Big discounts</h3>
                    <div class="section8text1">
                        Integer euismod blandit nunc sit amet sollicitudin. Fusce quis orci viverra, cursus justo lipsum
                        dolor.
                    </div>
                </div>

                <div class="section8__first">
                    <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/icon-002.png"
                        alt="">
                    <h3>Big discounts</h3>
                    <div class="section8text2">
                        Integer euismod blandit nunc sit amet sollicitudin. Fusce quis orci viverra, cursus justo lipsum
                        dolor.
                    </div>
                </div>

                <div class="section8__first">
                    <img src="https://websitedemos.net/eyewear-store-04/wp-content/uploads/sites/1121/2022/09/icon-003.png"
                        alt="">
                    <h3>Big discounts</h3>
                    <div class="section8text3">
                        Integer euismod blandit nunc sit amet sollicitudin. Fusce quis orci viverra, cursus justo lipsum
                        dolor.
                    </div>
                </div>



            </div>


        </section>
    </main>